.Mycard{
    min-width: 120px;
    max-width: 280px;
    border-radius: 10px;
    height: 150px;
    background-color: #EA7E36;  
    /* background: url(https://media.geeksforgeeks.org/auth-dashboard-uploads/dev1.png) !important; */
    margin: 10px;
    /* position: relative; */
    color: white;
    /* z-index: 1; */
}

.background-mycard{
    position: relative;
    background: url("https://media.geeksforgeeks.org/auth-dashboard-uploads/dev2.png") 50% !important;
    object-fit: cover;
    height: 150px;
}

.cardtitle{
    font-size: 20px;
    padding: 10px;
}